@import normalize

@font-face
	font-family: 'RobotoBold'

	src: url('../fonts/Roboto-Bold.ttf')

@font-face
	font-family: 'RobotoRegular'

	src: url('../fonts/Roboto-Regular.ttf')

@font-face
	font-family: 'RobotoLight'

	src: url('../fonts/Roboto-Light.ttf')

*
  box-sizing: border-box
  margin: 0
  padding: 0

html,
body
	display: flex
	flex-direction: column

	width: 100%
	height: 100%

	color: #5a5a5a

	font-family: "RobotoLight", Arial, sans-serif
	font-size: 18px

.container
	width: 1200px
	margin: 0 auto

.header
	background-image: url("../img/header_bg.jpg")
	background-repeat: no-repeat
	background-position: center
	.container
		position: relative

		padding-top: 28px
		padding-bottom: 220px

		&::before
			position: absolute
			z-index: 1
			right: 550px
			bottom: -50px

			width: 135px
			height: 166px

			content: ''

			background-image: url('../img/berry.png')
			background-repeat: no-repeat
			background-position: center

			filter: blur(4px)

.navigation
	display: flex
	justify-content: space-between

	margin-bottom: 200px
	&__menu
		display: flex
		align-items: center
		justify-content: space-between

		width: 700px
		margin: 0
		a
			text-decoration: none

			color: #fefefe

			font-family: "RobotoRegular", Arial, sans-serif
	.button
		padding: 12px 36px

		color: #2ecc71
		border-radius: 30px
		background-color: #fefefe

		font-family: "RobotoBold", Arial, sans-serif

.intro
	max-width: 600px

	color: #f4f4f4

	font-family: "RobotoLight", Arial, sans-serif
	h1
		font-size: 64px
		font-weight: lighter
		line-height: 60px
		b
			font-family: "RobotoBold", Arial, sans-serif
	p
		line-height: 32px

	&__applinks
		a
			position: relative

			font-size: 0
	&__iphone
		position: absolute
		right: 0
		bottom: 0



.links
	&::before
		position: absolute

		width: 137px
		height: 46px

		content: ''

		background-repeat: no-repeat
		background-position: center

	&__applestore
		&::before
			top: 0
			left: 0

			background-image: url("../img/as.png")

	&__googlestore
		&::before
			top: 0
			left: 150px

			background-image: url("../img/gp.png")

.pluses
	padding-top: 90px

	background-color: #fff

	font-size: 0
	line-height: 0
	.container
		position: relative

		display: flex
		justify-content: space-between
	&__description
		align-self: center

		width: 570px

		color: #5a5a5a

		p
			letter-spacing: 1px

			font-size: 18px
			line-height: 32px

.h2
	letter-spacing: 1px

	color: #5a5a5a

	font-size: 48px
	font-weight: lighter
	line-height: 60px
	b
		color: #2ecc71

.pluses__iphone
	z-index: 1

	margin-left: -60px

.selector-menu
	position: absolute
	left: 400px

	.relative
		position: relative
		&::before
			position: absolute
			top: 90px
			left: -330px

			width: 467px
			height: 467px

			content: ''

			border: 1px solid #d8d8d8
			border-radius: 50%

	&__item
		position: absolute

		display: flex
		align-items: center
		flex-wrap: wrap
		justify-content: center

		width: 60px
		height: 60px

		transform: translate(-50%, -50%)
		text-align: center

		border: 4px solid #fff
		border-radius: 50%
		background-color: #e7e7e7
		&:nth-child(1)
			top: 110px
			left: 0
		&:nth-child(2)
			top: 200px
			left: 100px
		&:nth-child(3)
			top: 320px
			left: 140px
		&:nth-child(4)
			top: 450px
			left: 100px
		&:nth-child(5)
			top: 530px
			left: 0
		&--active
			width: 88px
			height: 88px

			background-color: #2ecc71
		&:hover
			width: 88px
			height: 88px

			transform: translate(-50%, -50%)

			background-color: #2ecc71


.picture-preview
	background-color: #f9f9f9

	font-size: 0
	line-height: 0
	.container
		position: relative

		box-sizing: border-box
		height: 900px
		padding-top: 115px



	&__header
		padding-right: 185px
		padding-left: 185px

		text-align: center

		p
			font-size: 18px
			line-height: 32px

	&__pic
		position: absolute
		bottom: -110px
		left: 50%
		z-index: 2
		display: flex
		align-items: flex-end

		transform: translate(-50%,0)
		img

			&:nth-child(1)
				margin-right: -22px
			&:nth-child(2)
				z-index: 1

				margin-bottom: -25px
			&:nth-child(3)
				margin-left: -22px
.bck-img1
	position: absolute
	filter: blur(4px)
	top: 338px
	left: -144px
.bck-img2
	position: absolute
	filter: blur(4px)
	top: 391px
	right: -166px
.bck-img3
	position: absolute
	filter: blur(4px)
	top: 508px
	left: 30px
.bck-img4
	position: absolute
	filter: blur(4px)
	top: 598px
	right: 30px
